﻿/* wraps the entire app */
#lf_app
{
    border:solid 1px #000;
    width: 500px;
    margin: 0 auto;
    background-color:#fff;
    padding:2px;
    color:#99CC00;
    font-family: Sans-Serif, Verdana;
}
/* step 1 /*
/* step 2 /*
/* step 3 /*


/* submit button */
.lf_app_submit{
    height:52px;
    width:226px;
    border:none;
    background: transparent url(../../lf_sources/images/submit2.gif) no-repeat 0 0;
    cursor: pointer;
}
/*special styles */
.lf_section_header{
    font-size:20px;
}
.lf_app_label{
    font-weight:600;
    font-size:12px;
}
.lf_error_control{
    background-color: #F5615E;
}
.lf_img_error{   
}
.lf_app_table{
    width: 485px;
}
.lf_colA_td{
    width: 175px;
}
.lf_colB_td{
    width: 100px;
}
/* calendars */
#lf_pay_calendar{
    border:solid 2px #000;
    background-color:#fff;
    color:#99CC00;
    font-size:small;
}
.lf_cal_table
{
    border:solid 1px #99CC00;
}
.lf_cal_table th{
    color:#fff;
    background-color:#99CC00;
}
.lf_cal_table td
{
    border:solid 1px #000;
    height: 18px;
    width: 18px;
    text-align:right;
}
.lf_cal_selected{
    color: #000;
    font-weight:bold;
    background-color:#9BBB59;
}
.lf_cal_td_dis{
    color:#ccc;
}
.lf_cal_td_hover{
    background-color: #9BBB59;
    cursor:pointer;
}
